* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Style the form */
form {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

/* Style the form elements */
label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #eee;
}

button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

a {
  color: #007bff;
  text-decoration: none;
  margin-left: 10px;
}

/* CSS for desktop screens */
form {
  display:flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  background-color: #eaf4fc;
  background: linear-gradient(to right, #ff6a00, #ee0979, #9d04ff, #00c2ba, #00ffa3);
  background-size: 1000% 1000%;
  animation: rainbow-background 10s ease infinite;
}
@keyframes rainbow-background {
  0% {background-position: 0% 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0% 50%}
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #1e56ce;
}
body {
  background-color: #c3c78985; /* change this to your desired background color */
}
h1 {
   text-align: center;
   font-weight: 700;
   font-size: 70px;
   font-family: 'Times New Roman', Times, serif;
   color: #1411c2ee;
}