*{
    margin: 0;
    background-color: #ADD8E6;
}
.contact{
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contact h1{
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    color: #fff;
  
}
.input{
    margin-left:570px;
    margin-top: 20px;
    font-size: 40px;
   font-weight: 600;
}
.door{
    margin-left: 100px;
    padding: 5px 30px;
    border-radius: 10px;
    border-color: gray;
}
.name{
    margin-left: 7px;
    padding: 5px 30px;
    border-radius: 10px;
    border-color: gray;
}
.city{
    margin-left: 210px;
    padding: 5px 30px;
    border-radius: 10px;
    border-color: gray;
}
.state{
    margin-left: 172px;
    padding: 5px 30px;
    border-radius: 10px;
    border-color: gray;
}
.country{
    margin-left: 110px;
    padding: 5px 30px;
    border-radius: 10px;
    border-color: gray;
}
.zip{
    margin-left: 80px;
    padding: 5px 30px;
    border-radius: 10px;
    border-color: gray;
}
.error
{
 color: red;
}
.msg
{
 display:none;
}
.phone{
    margin-left: 130px;
    padding: 5px 30px;
    border-radius: 10px;
    border-color: gray;
}
.email{
    margin-left: 160px;
    padding: 5px 30px;
    border-radius: 10px;
    border-color: gray;

}
.button{
    margin-top: 25px;
    font-size: 25px;
    font-weight: 900;
    color: whitesmoke;
    background-color: grey;
    margin-left: 730px;
    padding: 0px 20px;
    border-radius: 10px;
}