.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
}

input, label {
  margin: 10px;
  padding: 10px;
}

button {
  margin: 20px;
  padding: 10px;
}


form {

  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  background-color: #eaf4fc;
  background: linear-gradient(to right, #ff6a00, #ee0979, #9d04ff, #00c2ba, #00ffa3);
  background-size: 1000% 1000%;
  animation: rainbow-background 10s ease infinite;
}
@keyframes rainbow-background {
  0% {background-position: 0% 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0% 50%}
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}


button:hover {
  background-color: #1e56ce;
}
body {
  background-color: #c3c78985; /* change this to your desired background color */
}
h1 {
   text-align: center;
   font-weight: 700;
   font-size: 70px;
   font-family: 'Times New Roman', Times, serif;
   color: #1411c2ee;
}
a{
  font-size: 20px;
  text-align: left;
  padding-left: -20%;
}
