{% extends "base.html" %}

{% block content %}
{% include "navebar.html"%}
<div class="container" style=" background-color: bisque; width: 100%; height: 100%;  margin-top: -50px; margin-bottom: -30px;"   >
  <div class="row">
      <div class="col-md-12">
          <h1 style="margin-left: 420px;" >Contact Form</h1>
      </div>
    <div class="col-md-4" style="margin-left: 350px;">
    <form action="{{ url_for('api_blueprint.contact_blueprint.insert_contact') }}" method="POST">
      <div class="form-group">
      <label for="door" class="control-lable">Door Number:</label>
      <input type="text"  class="form-control" id="door" name="door" required>
    </div>
      <label for="street_name"class="control-lable">Street Name:</label>
      <input type="text" id="street_name" class="form-control" name="street_name" required>
  
      <label for="city" class="control-lable">City:</label>
      <input type="text" class="form-control" id="city" name="city" required>
  
      <label for="state" class="control-lable">State:</label>
      <input type="text" class="form-control" id="state" name="state" required>
  
      <label for="country" class="control-lable">Country:</label>
      <input type="text" class="form-control" id="country" name="country" required>
  
      <label for="zip" class="control-lable">Zip Code:</label>
      <input type="text" class="form-control" id="zip" name="zip" required>
  
      <label for="phone" class="control-lable">Phone Number:</label>
      <input type="text" class="form-control" id="phone" name="phone" required>
  
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" required>
  
      <button type="submit">Submit</button>
    </form>
  
  </div>
  </div>
  
</div>
{% include "fooder.html"%} 
{% endblock %}

