{% extends "base.html" %}

{% block content %}
    <centre> <h1>  Forgot Password </h1> </centre> 
    <form action="{{ url_for('api_blueprint.forgot_password_blueprint.forgot_password') }}" method="POST">
        <div class="container"> 
            <label>Username : </label> 
            <input type="text" placeholder="Enter Username" name="username" required><br/>
            <label>Password : </label> 
            <input  type="password" placeholder="Enter Password" name="password" required><br/>
            <button type="submit">Submit</button> <br/>
            
        </div> 
    </form>  
{% endblock %}