{% extends "base.html" %}

{% block content %}
    <centre> <h1>  Login Form </h1> </centre> 
    <form action="{{ url_for('api_blueprint.login_blueprint.login_get') }}" method="POST">
        <div class="container"> 
            <label>Username : </label> 
            <input type="text" placeholder="Enter Username" name="username" required><br/>
            <label>Password : </label> 
            <input  type="password" placeholder="Enter Password" name="password" required><br/>
            <div class="center">
                <button type="submit">Login</button>
            </div>
            <br/>
            <a class="signup" href="/signup">singup</a>
            <a class="forgot" href="/forgot">forgot password</a>
        </div> 
    </form>  
    
{% endblock %}