{% extends "base.html" %}

{% block content %}
    <h1>property List:</h1>
    <form action="{{ url_for('api_blueprint.review_blueprint.getproperty') }}" method="POST">
        <input type="hidden" name="num_features" value="{{ property|length }}">
        <ul>
            {% for pro in property %}
                <li>
                    <input type="radio" id="property" name="property" value="{{ pro[1] }}">
                    {{ pro[1] }}
                </li>
            {% endfor %}
        </ul>
        <button type="submit">Save</button>
    </form>
{% endblock %}
