{% extends "base.html" %}

{% block content %}
    <div>
        <form action="{{ url_for('api_blueprint.save_blueprint.save') }}" method="POST">
            <div>
                <h1>{{property}}</h1>
            </div>
            <div>
                {% if feature %}
                    <h6>Selected Features:</h6>
                    <pre>{{ feature|safe }}</pre>
                {% endif %}
                <h1>Contact Information</h1>
                <ul>
                    <li><strong>Door Number:</strong> {{ conduct.door_number }}</li>
                    <li><strong>Street Name:</strong> {{ conduct.street_name }}</li>
                    <li><strong>City:</strong> {{ conduct.city }}</li>
                    <li><strong>State:</strong> {{ conduct.state }}</li>
                    <li><strong>Country:</strong> {{ conduct.country }}</li>
                    <li><strong>Zip Code:</strong> {{ conduct.zip_code }}</li>
                    <li><strong>Phone Number:</strong> {{ conduct.phone_number }}</li>
                    <li><strong>Email:</strong> {{ conduct.email }}</li>
                </ul>
            </div>
            <h2>Room Information</h2>
            <ul>
                <li><strong>Room Type:</strong> {{ Room.room_type }}</li>
                <li><strong>Bed Count:</strong> {{ Room.bed_count}}</li>
                <li><strong>Room Capacity:</strong> {{ Room.room_capacity}}</li>
                <li><strong>Bathroom:</strong> {{ Room.bathroom }}</li>
                
            </ul>
            <img style="margin-left:1100px;" src="{{image}}">


            <button type="submit">Save</button>
        </form>
    </div>
{% endblock %}