{% extends "base.html" %}

{% block content %}

<div class="container" style="margin-top: -40px; margin-bottom:60px;"  >
    <div class="row">
        <div class="col-md-12">
            <h1 style="margin-left: 440px;" >ROOM Details</h1>
        </div>
      <div class="col-md-6" style="margin-left: 350px;" >
    <form  action="{{ url_for('api_blueprint.room_blueprint.insert_room') }}" method="POST">
    <div class="contact">
        <!-- <h1>ROOM Details</h1> -->
        <div class="input">
            <label class="control-lable" >room type:</label>
            <input type="text"  class="form-control" name="room_type">
        </div>
        <div class="input">
            <label  class="control-lable">bed count:</label>
            <input type="text"  class="form-control" name="bed_count">
        </div>
        <div class="input">
            <label class="control-lable" >room capacity:</label>
            <input type="text"  class="form-control" name="room_capacity">
        </div>
        <div class="input">
            <label  class="control-lable">bathroom:</label>
            <input type="text"  class="form-control" name="bathroom">
        </div>
       
   <button class="button" >Submit</button>
</form>
</div>
</div>
</div>
</div>
{% include "fooder.html"%} 
{% endblock %}

