{% extends "base.html" %}

{% block content %}


	<h1>Contact Information</h1>
	<ul>
		<li><strong>Door Number:</strong> {{ conduct.door_number }}</li>
		<li><strong>Street Name:</strong> {{ conduct.street_name }}</li>
		<li><strong>City:</strong> {{ conduct.city }}</li>
		<li><strong>State:</strong> {{ conduct.state }}</li>
		<li><strong>Country:</strong> {{ conduct.country }}</li>
		<li><strong>Zip Code:</strong> {{ conduct.zip_code }}</li>
		<li><strong>Phone Number:</strong> {{ conduct.phone_number }}</li>
		<li><strong>Email:</strong> {{ conduct.email }}</li>
	</ul>



{% endblock %}