{% extends "base.html" %}

{% block content %}
    <centre> <h1>  signup Form </h1> </centre> 
    <form action="{{ url_for('api_blueprint.signup_blueprint.signup_get') }}" method="POST">
        <div class="container"> 
            <label>Username : </label> 
            <input type="text" placeholder="Enter Username" name="username" required><br/>
            <label>Password : </label> 
            <input  type="password" placeholder="Enter Password" name="password" required><br/>
            <button type="submit">singup</button> <br/>
            <!-- Forgot  <a class="A" href="#"> password? </a> <br/> -->
            <!-- <a href="#"> signup </a> -->
        </div> 
    </form>  
    
{% endblock %}